:root {
  --white: #ffffff;
  --black: #000000;

  /*  Primary colors */
  --cetacean-blue: #050a56;
  --process-blue: #0083cb;

  --vivid-sky-blue: #00d4fe;

  /*  Typography */
  --true-blue: #0070c9;
  --vivid-mulberry: #ac1fd3;
  --anti-flash-white: #f2f2f2;
  --dark-charcoal: #333333;
  --mid-grey: #888888;
  --raisin-black: #212121;

  /*  Secondary colors */
  --cadmium-blue: #040995;
  --interdimensional-blue: #4218b8;
  --phlox: #d914f4;
  --smashed-pumpkin: #f76932;
  --jungle-green: #2fa778;
  --banana-yellow: #f7d93a;

  /*  Tertiary colors */
  --french-sky-blue: #7cb4fa;
  --han-blue: #5d6fdc;
  --dark-orchid: #ae28d8;
  --begonia: #ef6d7c;
  --maximum-blue-green: #24c2bb;
  --lavender-pale: #e5e6f3;

  /*  Gradient colors */
  --cetacean-blue-2: #060f55;
  --aqua: #00ecfd;
  --aqua-2: #08f5ff;

  /*  BBP Palette by role */
  --blue-brain-dark-blue: var(--cetacean-blue);
  --blue-brain-light-blue: var(--vivid-sky-blue);

  --active-link-color: var(--true-blue);
  --visited-link-color: var(--vivid-mulberry);
  --background-color: var(--anti-flash-white);
  --text-color: var(--dark-charcoal);

  /* Helper colors */
  --medium-electric-blue: #035696;
  --success-color: var(--jungle-green);
  --warning-color: var(--smashed-pumpkin);
}
