.ContentBlock {
  position: absolute;
}

.Body {
  width: 100%;
  height: 100%;
  background: #fff;
  box-shadow: 2px 2px 5px rgba(black, .3);
  transition: box-shadow 500ms, transform 500ms;
}

.IsTransforming {
  transition: none !important;

  .Body {
    box-shadow: 5px 10px 20px rgba(black, .3) !important;
    transform: translate(0, -3%) !important;
  }
}

.IsFullscreen {
  transition: width 2s, height 2s, left 2s, top 2s;
  z-index: 99;
}

.AfterFullscreen {
  transition: width 2s, height 2s, left 2s, top 2s;
}
